# Data Import & Exploration

In [1]:
import pandas as pd

### Inspect and clean financial columns

In [14]:
path = r"/content/drive/MyDrive/Revision tech/financial data sp500 companies.csv"

df = pd.read_csv(path, sep=',', encoding='utf-8')   # ← essaie d’abord ce séparateur
df.shape
df.info()
df.head(3)
df.isnull().sum().sort_values(ascending=False).head(10)
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2012 entries, 0 to 2011
Data columns (total 19 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Unnamed: 0                              2012 non-null   int64
 1   date                                    2012 non-null   object
 2   firm                                    2012 non-null   object
 3   Ticker                                  2012 non-null   object
 4   Research Development                    634 non-null    float64
 5   Income Before Tax                       2011 non-null   float64
 6   Net Income                              2012 non-null   float64
 7   Selling General Administrative          1952 non-null   float64
 8   Gross Profit                            2012 non-null   float64
 9   Ebit                                    2012 non-null   float64
 10  Operating Income                        2011 non-null   float64
 11  Interest Expense                        1830 non-null   float64
 12  Income Tax Expense                      2012 non-null   float64
 13  Total Revenue                           2012 non-null   float64
 14  Total Operating Expenses                2012 non-null   float64
 15  Cost Of Revenue                         2012 non-null   float64
 16  Total Other Income Expense Net          2012 non-null   float64
 17  Net Income From Continuing Ops          2011 non-null   float64
 18  Net Income Applicable To Common Shares  2011 non-null   float64
dtypes: float64(15), int64(1), object(3)
memory usage: 298.8+ KB

,Unnamed: 0,Research Development,Income Before Tax,Net Income,Selling General Administrative,Gross Profit,Ebit,Operating Income,Interest Expense,Income Tax Expense,Total Revenue,Total Operating Expenses,Cost Of Revenue,Total Other Income Expense Net,Net Income From Continuing Ops,Net Income Applicable To Common Shares
count,2012.00000,6.340000e+02,2.011000e+03,2.012000e+03,1.952000e+03,2.012000e+03,2.012000e+03,2.011000e+03,1.830000e+03,2.012000e+03,2.012000e+03,2.012000e+03,2.012000e+03,2.012000e+03,2.011000e+03,2.011000e+03
mean,1005.50000,6.344579e+08,8.740406e+08,7.166330e+08,1.103981e+09,2.567361e+09,8.725539e+08,1.018962e+09,-1.137794e+08,1.571346e+08,6.547388e+09,5.526601e+09,3.978480e+09,-1.447861e+08,7.167271e+08,7.087978e+08
std,580.95869,1.502277e+09,2.486569e+09,2.109107e+09,2.519176e+09,5.045961e+09,2.109224e+09,2.276677e+09,1.724235e+08,4.432727e+08,1.294811e+10,1.164778e+10,9.297250e+09,9.648189e+08,2.090395e+09,2.099201e+09
min,0.00000,-1.030000e+07,-2.661300e+10,-2.007000e+10,-3.613000e+09,-4.062000e+09,-6.389000e+09,-6.389000e+09,-1.972000e+09,-6.010000e+09,-5.526000e+08,-1.469000e+09,-4.958000e+08,-2.543700e+10,-2.060300e+10,-2.007000e+10
25%,502.75000,5.595575e+07,1.482950e+08,1.199500e+08,1.533448e+08,5.379412e+08,1.612940e+08,2.007500e+08,-1.307500e+08,1.773650e+07,1.210750e+09,9.171250e+08,4.256515e+08,-1.441238e+08,1.266655e+08,1.193035e+08
50%,1005.50000,1.660000e+08,3.459000e+08,2.830000e+08,3.814660e+08,1.055623e+09,3.560595e+08,4.231150e+08,-5.546500e+07,6.300000e+07,2.624662e+09,2.089500e+09,1.285000e+09,-4.282100e+07,2.915450e+08,2.760000e+08
75%,1508.25000,4.592005e+08,8.345000e+08,6.771872e+08,8.940000e+08,2.142450e+09,8.220000e+08,9.135000e+08,-2.200000e+07,1.652500e+08,5.473583e+09,4.549250e+09,3.007825e+09,-3.407000e+06,6.925000e+08,6.710235e+08
max,2011.00000,1.646600e+10,3.357900e+10,2.875500e+10,3.033100e+10,4.890400e+10,3.353400e+10,3.353400e+10,7.200000e+07,4.824000e+09,1.520790e+11,1.455920e+11,1.152610e+11,4.846000e+09,2.875500e+10,2.875500e+10

In [16]:
df=df.drop(columns=['Unnamed: 0'],errors='ignore')
df.columns=(df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace(r'[^a-z0-9_]','',regex=True))

df.head(5)

,date,firm,ticker,research_development,income_before_tax,net_income,selling_general_administrative,gross_profit,ebit,operating_income,interest_expense,income_tax_expense,total_revenue,total_operating_expenses,cost_of_revenue,total_other_income_expense_net,net_income_from_continuing_ops,net_income_applicable_to_common_shares
0,2021-09-30,3M,MMM,482000000.0,1.761000e+09,1.434000e+09,1.739000e+09,4.089000e+09,1.868000e+09,1.868000e+09,-117000000.0,324000000.0,8.942000e+09,7.074000e+09,4.853000e+09,-107000000.0,1.437000e+09,1.434000e+09
1,2021-06-30,3M,MMM,514000000.0,1.940000e+09,1.524000e+09,1.666000e+09,4.231000e+09,2.051000e+09,2.051000e+09,-121000000.0,415000000.0,8.950000e+09,6.899000e+09,4.719000e+09,-111000000.0,1.525000e+09,1.524000e+09
2,2021-03-31,3M,MMM,520000000.0,1.946000e+09,1.624000e+09,1.720000e+09,4.327000e+09,2.087000e+09,2.087000e+09,-132000000.0,319000000.0,8.851000e+09,6.764000e+09,4.524000e+09,-141000000.0,1.627000e+09,1.624000e+09
3,2020-12-31,3M,MMM,449000000.0,1.706000e+09,1.389000e+09,1.814000e+09,4.246000e+09,1.983000e+09,1.983000e+09,-141000000.0,316000000.0,8.583000e+09,6.600000e+09,4.337000e+09,-277000000.0,1.390000e+09,1.389000e+09
4,2021-09-30,3M,MMM,482000000.0,1.761000e+09,1.434000e+09,1.739000e+09,4.089000e+09,1.868000e+09,1.868000e+09,-117000000.0,324000000.0,8.942000e+09,7.074000e+09,4.853000e+09,-107000000.0,1.437000e+09,1.434000e+09

In [20]:
df['date']=pd.to_datetime(df['date'],errors='coerce')
# Liste des colonnes numériques
cols_num=df.select_dtypes(include='number').columns.tolist()

# Si certaines colonnes sont encore "object", forcer la conversion
df[cols_num] = df[cols_num].apply(pd.to_numeric, errors='coerce')

In [22]:
missing= df.isnull().sum()
missing_pct=(missing/len(df))*100
print(missing_pct.sort_values(ascending=False))

research_development                      68.489066
date                                      30.815109
interest_expense                           9.045726
selling_general_administrative             2.982107
net_income_applicable_to_common_shares     0.049702
operating_income                           0.049702
income_before_tax                          0.049702
net_income_from_continuing_ops             0.049702
firm                                       0.000000
net_income                                 0.000000
ebit                                       0.000000
gross_profit                               0.000000
ticker                                     0.000000
income_tax_expense                         0.000000
total_operating_expenses                   0.000000
total_revenue                              0.000000
total_other_income_expense_net             0.000000
cost_of_revenue                            0.000000
dtype: float64

In [23]:
df['research_development']=df['research_development'].fillna(0)

In [24]:
df=df.dropna(subset=['date'])

In [25]:
df['interest_expense']=df['interest_expense'].fillna(0)

In [26]:
df['selling_general_administrative'] = df['selling_general_administrative'].fillna(
    df['selling_general_administrative'].median()
)

In [27]:
for col in ['net_income_applicable_to_common_shares','operating_income','income_before_tax','net_income_from_continuing_ops']:
  df[col]=df[col].fillna(df[col].median())

In [28]:
missing= df.isnull().sum()
missing_pct=(missing/len(df))*100
print(missing_pct.sort_values(ascending=False))

date                                      0.0
firm                                      0.0
ticker                                    0.0
research_development                      0.0
income_before_tax                         0.0
net_income                                0.0
selling_general_administrative            0.0
gross_profit                              0.0
ebit                                      0.0
operating_income                          0.0
interest_expense                          0.0
income_tax_expense                        0.0
total_revenue                             0.0
total_operating_expenses                  0.0
cost_of_revenue                           0.0
total_other_income_expense_net            0.0
net_income_from_continuing_ops            0.0
net_income_applicable_to_common_shares    0.0
dtype: float64

In [29]:
print(df.describe().T[['mean', 'min', 'max']])

                                                                 mean  \
date                                    2021-02-10 03:55:51.724137984
research_development                                 248265744.971264
income_before_tax                                    953608112.068966
net_income                                           789254020.114943
selling_general_administrative                      1074976738.505747
gross_profit                                        2716619405.531609
ebit                                                 944176350.215517
operating_income                                    1108599982.758621
interest_expense                                     -106897870.33046
income_tax_expense                                   170925806.752874
total_revenue                                       6852829235.272988
total_operating_expenses                            5740877533.045977
cost_of_revenue                                     4133974507.183908
total_other_income_expense_net                      -154884204.741379
net_income_from_continuing_ops                       782553454.741379
net_income_applicable_to_common_shares               780428328.304598

                                                        min  \
date                                    2020-03-31 00:00:00
research_development                            -10300000.0
income_before_tax                            -26613000000.0
net_income                                   -20070000000.0
selling_general_administrative                -3613000000.0
gross_profit                                  -4062000000.0
ebit                                          -6389000000.0
operating_income                              -6389000000.0
interest_expense                              -1972000000.0
income_tax_expense                            -6010000000.0
total_revenue                                  -552600000.0
total_operating_expenses                      -1469000000.0
cost_of_revenue                                -495800000.0
total_other_income_expense_net               -25437000000.0
net_income_from_continuing_ops               -20603000000.0
net_income_applicable_to_common_shares       -20070000000.0

                                                        max
date                                    2021-09-30 00:00:00
research_development                          16466000000.0
income_before_tax                             33579000000.0
net_income                                    28755000000.0
selling_general_administrative                29397000000.0
gross_profit                                  48904000000.0
ebit                                          33534000000.0
operating_income                              33534000000.0
interest_expense                                 72000000.0
income_tax_expense                             4824000000.0
total_revenue                                125555000000.0
total_operating_expenses                     118682000000.0
cost_of_revenue                               79284000000.0
total_other_income_expense_net                 4846000000.0
net_income_from_continuing_ops                28755000000.0
net_income_applicable_to_common_shares        28755000000.0

In [30]:
import numpy as np

# 1️ R&D can't be negative
df['research_development'] = df['research_development'].clip(lower=0)

# 2️ Interest Expense : has to be negative (charge financière)
df.loc[df['interest_expense'] > 0, 'interest_expense'] *= -1

# 3️ Check that Total Revenue and Gross Profit are positive
df = df[(df['total_revenue'] > 0) & (df['gross_profit'] > 0)]

# 4️ Vérifie cohérence logique entre postes
df = df[df['income_before_tax'].notna()]
df = df[df['net_income'].notna()]

# 5️ Delete all impossible values (revenues < Total negative depenses)
df = df[(df['total_operating_expenses'] > 0)]

# 6️ Some ratio to Check
df['net_margin'] = df['net_income'] / df['total_revenue']
df['operating_margin'] = df['operating_income'] / df['total_revenue']
df['tax_rate'] = df['income_tax_expense'] / df['income_before_tax']

# 7️ Caping the ratios (> 1 or < -1)
df['net_margin'] = df['net_margin'].clip(-1, 1)
df['operating_margin'] = df['operating_margin'].clip(-1, 1)
df['tax_rate'] = df['tax_rate'].clip(0, 1)

# 8️ Final Check
print(" Shape finale :", df.shape)
print(df[['net_margin', 'operating_margin', 'tax_rate']].describe().round(3))

 Shape finale : (1365, 21)
       net_margin  operating_margin  tax_rate
count    1365.000          1365.000  1365.000
mean        0.133             0.194     0.195
std         0.191             0.163     0.154
min        -1.000            -1.000     0.000
25%         0.064             0.115     0.120
50%         0.127             0.192     0.197
75%         0.210             0.273     0.238
max         1.000             0.703     1.000

In [31]:
df.to_csv("/content/drive/MyDrive/Revision tech/sp500_clean.csv", index=False)
print("Clean DB saved !")

Clean DB saved !

# SQL Integration

### Create a SQLite database (finance.db).

### Execute queries to compute

# Python Automation

### Replicate SQL logic using pandas.

### Automate report generation and export to Excel.

# Data Integrity Checks

### Validate missing values or incoherent ratios.

### Log results for auditability.

# Plotly dashboard for visual reporting